.visually-hidden {
  display: none;
}

body {
  width: 940px;
  margin: 0 auto;
  font-family: Cuprum, serif;
}

header {
  background-color: #f4f7f9;
  height: 280px;
}

#main-actions-wrapper {
  height: 40px;
  line-height: 40px;
  background-color: #293449;
}

.main-actions {
  color: #ffffff;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

#technomart-label {
  margin-left: 130px;
  text-align: center;
  width: 220px;
  height: 100%;
  font-size: 24px;
  margin-right: auto;
}

#search {
  font-size: 17px;
  margin-right: auto;
}

#bookmarks {
  font-size: 17px;
  margin-left: auto;
}

#shopping-cart {
  font-size: 17px;
  margin-left: auto;
}

#make-order {
  font-size: 17px;
  margin-left: auto;
}

.main-menu ul {
  display: flex;
}

.main-menu li {
  list-style-type: none;
  flex-basis: auto;
  flex-grow: 1;
}

.main-menu {
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  width: 940px;
  background-color: #293449;
  color: #ffffff;
}

.main-panel {
  width: 940px;
  height: 160px;
  display: table-cell;
  vertical-align: middle;
}

.main-panel-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
}

.main-panel-inner div, .main-panel-inner section {
  margin: auto;
}

.red-button {
  background-color: #ee3643;
}

.green-button {
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: #63a63e;
  color: #ffffff;
}

.white-button {
  background-color: #ffffff;
  /*width: 150px;*/
  /*height: 45px;*/
}

.description {
  color: red;
  font-style: italic;
  width: 200px;

}

.contacts {
  width: 270px;
}

.user-actions {
  width: 280px;
}

.phone {
  border: 2px solid white;
  color: red;
  font-size: 21px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 270px;
}

.phone img {
  float: left;
  line-height: 40px;
}

.address {
  font-size: 14px;
  text-align: center;
}

#item-1 {
  background-color: #ffbf47;
}

#item-2 {
  background-color: #3bbce3;
}

#item-3 {
  background-color: #dc91d8;
}

#item-4 {
  background-color: #8ed78f;
}

#item-5 {
  background-color: #ffc047;
}

.inner-block {
  color: white;
  font-size: 14px;
}

.block-name {
  color: white;
  font-size: 24px;
}

.items, .manufacturers {
  display: flex;
  justify-content: space-between;
  height: 90px;
  line-height: 90px;
  background-color: #f9f5f0;
  margin-bottom: 10px;
}

#all-items, #all-manufacturers {
  background-color: #ee3643;
  width: 250px;
  /*height: 35px;*/
  color: white;
  font-size: 14px;
}

#popular-items, #popular-manufacturers {
  text-transform: uppercase;
  font-size: 30px;
}

#popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 350px;
}

#popular-items-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 350px;
}

#popular-items-list article {
  height: 320px;
  width: 220px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

#popular-items-list h3 {
  font-size: 18px;
  text-align: center;
}

#popular-items-list .old-price {
  color: lightgray;
  font-size: 17px;
  text-decoration: line-through;
  text-align: center;
}

#popular-items-list .actual-price {
  font-size: 17px;
  height: 40px;
  color: white;
}

#popular-items-list .actual-price span {
  background: url('../img/red-button.svg') no-repeat;
}

#popular-manufacturers-list .manufacturer {
  border: 1px solid lightgray;
  height: 145px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inner-footer {
  background-color: #293449;
  font-size: 16px;
}

.social-networks ul {
  display: flex;
}

.social-networks li {
  list-style-type: none;
  flex-basis: auto;
  flex-grow: 1;
}

.feedback, .about {
  display: flex;
  flex-direction: column;
}

.feedback span, .about span {
  color: #ffd180;
}

.feedback a, .about a {
  color: white;
}

.copyright {
  color: white;
  display: flex;
  flex-direction: column;
}
