.visually-hidden {
  display: none;
}

body {
  font-family: Cuprum, serif;
}

header {
  background-color: #f4f7f9;
  height: 280px;
  display: flex;
  flex-direction: column;
}

.main-actions-wrapper {
  height: 42px;
  line-height: 42px;
  background-color: #293449;
}

.main-actions {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.main-actions img {
  padding-right: 2px;
  vertical-align: middle;
}

.technomart-label {
  text-align: center;
  width: 220px;
  height: 100%;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 5px;
  margin-right: 20px;
}

#bookmarks {
  margin-right: 20px;
}

#shopping-cart {
  margin-right: 20px;
}

#make-order {
  margin-right: 0;
}

.main-actions div {
  font-size: 17px;
  margin-right: auto;
}

.main-menu li {
  list-style-type: none;
  flex-basis: auto;
  flex-grow: 1;
}

.main-menu {
  display: flex;
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  background-color: #293449;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.promotion-row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promotion-row-2 {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.items-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-panel {
  height: 45%;
  display: flex;
  align-items: center;
}

.main-panel-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.red-button {
  background-color: #ee3643;
}

.green-button {
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: #63a63e;
  color: #ffffff;
}

.white-button {
  background-color: #ffffff;
  display: inline-block;
  width: 150px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.white-button img {
  vertical-align: middle;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.description {
  color: red;
  font-style: italic;
  width: 200px;
  margin-left: 70px;
}

#register {
  margin-left: 8px;
}

.contacts {
  width: 270px;
}

.footer-contacts a, .footer-contacts address {
  color: white;
  font-style: normal;
}

.footer-contacts {
  display: flex;
  align-items: left;
  flex-direction: column;
  width: 50%;
}

.user-actions {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.phone {
  border: 2px solid white;
  color: red;
  font-size: 21px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 270px;
  position: relative;
}

.phone img {
  position: absolute;
  left: 20px;
  top: 10px;
}

.address {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.item-1 {
  background: #ffbf47 url('../img/icon-1.svg') no-repeat right 30px bottom 30px;
}

.item-2 {
  background: #3bbce3 url('../img/icon-2.svg') no-repeat right 30px bottom 30px;
}

.item-3 {
  background: #dc91d8 url('../img/icon-3.svg') no-repeat right 30px bottom 30px;
}

.item-4 {
  background: #8ed78f url('../img/icon-4.svg') no-repeat right 30px bottom 30px;
}

.item-5 {
  background: #ffc047 url('../img/icon-5.svg') no-repeat right 30px bottom 30px;

}

.item-1 .inner-block {
  background-color: #e5ac40;
}

.item-2 .inner-block {
  background-color: #35a9cc;
}

.item-3 .inner-block {
  background-color: #c682c2;
}

.item-4 .inner-block {
  background-color: #80c180;
}

.item-5 .inner-block {
  background-color: #e5ac40;
}

.inner-block {
  color: white;
  font-size: 14px;
  width: 134px;
  height: 36px;
  line-height: 36px;
  background-color: black;
  text-align: center;
  margin-top: 10px;
}

.promotion-row-1 div[class^="item-"], .promotion-row-1 div[class*=" item-"],
.promotion-row-2 .item-4, .item-5 {
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.item-7 {
  width: 620px;
  height: 266px;
}

.item-7 img {
  width: 100%;
  height: 100%;
}

.promotion div[class^="item-"] span, .promotion div[class*=" item-"] span {
  margin-left: 22px;
}

.promotion {
  margin-bottom: 10px;
  margin-top: 10px;
}

.block-name {
  color: white;
  font-size: 24px;
}

.items, .manufacturers {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 10px;
  padding: 25px;
}

.items h2, .manufacturers h2 {
  margin: 0;
}

.items a, .manufacturers a, #company-details-button a, #write-us-button a {
  text-decoration: none;
  height: 35px;
  line-height: 35px;
  color: white;
}

.all-items, .all-manufacturers, #company-details-button, #write-us-button {
  background-color: #ee3643;
  width: 250px;
  height: 35px;
  color: white;
  font-size: 14px;
  text-align: center;
}

#write-us-button {
  position: absolute;
  bottom: 0;
}

.service h2, .company-description h2, .company-contacts h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.delivery h2 {
  text-transform: uppercase;
  font-size: 36px;
}

.offer li {
  padding: 5px;
}

.popular-items, .popular-manufacturers {
  text-transform: uppercase;
  font-size: 30px;
}

.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.popular-manufacturers-section {
  height: 330px;
}

.popular-items-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.popular-items-list article {
  height: 318px;
  width: 220px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.popular-items-list h3 {
  font-size: 18px;
  text-align: center;
}

.popular-items-list .old-price {
  color: lightgray;
  font-size: 17px;
  text-decoration: line-through;
  text-align: center;
}

.popular-items-list .actual-price {
  font-size: 17px;
  text-align: center;
  line-height: 30px;
  color: white;
  background: url(../img/red-button.svg) no-repeat;
  background-size: 100%;
  width: 115px;
  height: 30px;
  margin: 0 auto;
}

.item-image {
  width: 140px;
  margin: 0 auto;
}

.popular-items-list .actual-price span {
  color: #fff;
}

.popular-manufacturers-list .manufacturer {
  border: 1px solid lightgray;
  height: 145px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-company .about-company-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#map-preview {
  width: 100%;
}

.company-description {
  margin: 0;
  float: left;
  width: 60%;
}

.company-contacts {
  padding-left: 60px;
  width: 40%;
  position: relative;
}

.about-company .offer {
  list-style-type: none;
}

#first-footer {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

#first-footer-wrapper {
  background-color: #32425c;
  height: 190px;
  display: flex;
  width: 100%;
}

#first-line, #second-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

#second-footer {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

#second-footer-wrapper {
  background-color: #293449;
  height: 100px;
  display: flex;
}

.footer-menu {
  background-color: #32425c;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-yellow-menu {
  background-color: #32425c;
  color: #ffd180;
  width: 550px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-menu ul, .footer-yellow-menu ul {
  display: flex;
}

.footer-menu li, .footer-yellow-menu li {
  list-style-type: none;
  flex-basis: auto;
  flex-grow: 1;
}

.social-networks ul {
  display: flex;
  align-items: center;
  width: 140px;
}

.social-networks li {
  list-style-type: none;
  flex-basis: auto;
  flex-grow: 1;
}

.feedback, .about {
  display: flex;
  flex-direction: column;
}

.feedback span, .about span {
  color: #ffd180;
}

.feedback a, .about a {
  color: white;
}

.copyright {
  color: white;
  display: flex;
  flex-direction: column;
}

.technomart-footer-label {
  height: 65px;
  line-height: 65px;
  text-align: center;
  width: 220px;
  font-size: 24px;
  margin-right: auto;
  text-transform: uppercase;
  color: white;
}

.service-wrapper {
  background-color: #f5f8fa;
}

.service {
  padding-top: 70px;
  padding-bottom: 100px;
}

#service-menu-block {
  display: flex;
  justify-content: space-between;
}

#service-description {
  display: flex;
  justify-content: space-between;
}

#service-menu {
  list-style-type: none;
}

#service-menu li {
  width: 240px;
  height: 65px;
  line-height: 65px;
  font-size: 21px;
  background-color: white;
}

#service-menu li:hover {
  background-color: #32425c;
  color: white;
}

#service-menu-block div, #service-menu-block section {
  width: 30%;
}

#image-truck {
  width: 200px;
  height: 150px;
}
