.visually-hidden {
  display: none;
}

html, body {
  width: 1200px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Cuprum, serif;
}

header {
  background-color: #f4f7f9;
}

.main-actions {
  background-color: #293449;
  color: #ffffff;
  height: 40px;
}

.main-menu {
  background-color: #293449;
  color: #ffffff;
  height: 30px;
}

.main-panel {
  height: 100px;
}

.red-button {
  background-color: #ee3643;
}

.green-button {
  background-color: #63a63e;
  color: #ffffff;
}

.white-button {
  background-color: #ffffff;
}

.main-menu li {
  list-style: none;
  display: inline;
}

.description {
  color: red;
  font-style: italic;
  float: left;
}

.contacts {
}

.user-actions {
  float: right;
}

.phone {
  border-color: white;
  color: red;
  font-size: 21pt;
  float: left;
}

.address {
font-size: 14pt;
}

#technomart-label {
  float: left;
  font-size: 24pt;
}

#search {
  font-size: 17pt;
  float: left;
}

#bookmarks {
  font-size: 17pt;
  float: right;
}

#shopping-cart {
  font-size: 17pt;
  float: right;
}

#make-order {
  font-size: 17pt;
  float: right;
}

#login, #register {
  background-color: white;
}
